{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block div %}
    {% for tea in tea_list %}
        <div class="col-md-6 col-lg-6 col-xl-4">
            <a href="{% url 'store:product_page' tea.slug %}" class="tea-link">
                <div class="rounded position-relative tea-item">
                    <div class="tea-img">
                        <img src="{{ tea.image.crop.261x183 }}" class="img-fluid w-100 rounded-top" height="183" alt="">
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ tea.category.name }}</div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                        <h4 class="text-truncate">{{ tea.name }}</h4>
                        <div class="d-flex justify-content-between flex-lg-wrap mt-auto">
                            <p class="text-dark fs-5 fw-bold mb-0">${{ tea.price }}</p>
                            <a href="{% url 'order:add_to_cart' tea.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i>{% trans "Add to cart" %}</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}