{% extends 'base.html' %}

{% block title %}
    <title>Contact</title>
{% endblock %}

{% block content %}
        {% include 'partials/single-page-header.html' with page_title="Contact" %}
        {% if messages %}
            <div class="container d-flex justify-content-center align-items-center min-vh-100">
                {% for message in messages %}
                    <div class="text-center">
                        {% if message.tags == 'success' %}
                            <h2 class="mb-4 text-success fw-bold">Thank you {{ name }}!</h2>
                            <p class="lead">We have received your email and will respond shortly.</p>
                            <a href="{% url 'store:shop' %}" class="btn btn-primary mt-3">Continue Shopping
                    </a>
                        {% else %}
                            <h2 class="mb-4 text-danger fw-bold">Sorry {{ name }}</h2>
                            <p class="lead">An error occured while sending your email. Please, try again.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="container-fluid contact py-5">
                <div class="container py-5">
                    <div class="p-5 bg-light rounded">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="text-center mx-auto" style="max-width: 700px;">
                                    <h1 class="text-primary">Contact Us</h1>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="h-100 rounded">
                                    <iframe class="rounded w-100"
                                    style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190570.22333780694!2d44.64194916466291!3d41.72786065506389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cd7e64f626b%3A0x61d084ede2576ea3!2sTbilisi!5e0!3m2!1sen!2sge!4v1729438154060!5m2!1sen!2sge"
                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <form method="post">
                                    {% csrf_token %}
                                    <label for="name" class="visually-hidden">Your Name</label>
                                    <input type="text" id='name' name='name' class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name">
                                    <label for="email" class="visually-hidden">Your Email</label>
                                    <input type="email" id='email' name='email' class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Email">
                                    <label for="message" class="visually-hidden">Your Message</label>
                                    <textarea id="message" name="message" class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message"></textarea>
                                    <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
                                </form>
                            </div>
                            <div class="col-lg-5">
                                <div class="d-flex p-4 rounded mb-4 bg-white">
                                    <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Address</h4>
                                        <p class="mb-2">Tbilisi, Georgia</p>
                                    </div>
                                </div>
                                <div class="d-flex p-4 rounded mb-4 bg-white">
                                    <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Mail Us</h4>
                                        <p class="mb-2">abuashvilinunu@gmail.com</p>
                                    </div>
                                </div>
                                <div class="d-flex p-4 rounded bg-white">
                                    <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                    <div>
                                        <h4>Telephone</h4>
                                        <p class="mb-2">(+995) 558101010</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}