{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>{% trans "Tea Shop | Worldwide Tea Collection" %}</title>
{% endblock %}

{% block content %}
<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">{% trans "From All Over the World" %}</h4>
                <h1 class="mb-5 display-3 text-primary">{% trans "Wide Collection of Premium Tea" %}</h1>
                {% include 'partials/search.html' with style='button' %}
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="{% static 'img/christmas_tree_packages.jpg' %}" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="{% url 'store:category_page' 'christmas-tea' %}" class="btn px-4 py-2 text-white rounded">{% trans "Christmas Collection" %}</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="{% static 'img/fruit_tea_packages.jpeg' %}" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="{% url 'store:category_page' 'fruit-tea' %}" class="btn px-4 py-2 text-white rounded">{% trans "Fruit Tea" %}</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{% trans "Previous" %}</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">{% trans "Next" %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Features Section Start -->
<div class="container-fluid features py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="features-item text-center rounded bg-light p-4">
                    <div class="features-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-car-side fa-3x text-white"></i>
                    </div>
                    <div class="features-content text-center">
                        <h5>{% trans "Free Shipping" %}</h5>
                        <p class="mb-0">{% trans "Free on order over $50" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="features-item text-center rounded bg-light p-4">
                    <div class="features-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="features-content text-center">
                        <h5>{% trans "Security Payment" %}</h5>
                        <p class="mb-0">{% trans "100% security payment" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="features-item text-center rounded bg-light p-4">
                    <div class="features-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="features-content text-center">
                        <h5>{% trans "30 Day Return" %}</h5>
                        <p class="mb-0">{% trans "30 day money guarantee" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="features-item text-center rounded bg-light p-4">
                    <div class="features-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="features-content text-center">
                        <h5>{% trans "24/7 Support" %}</h5>
                        <p class="mb-0">{% trans "Contact us anytime" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Section End -->

<!-- Fruits Shop Start-->
<div class="container-fluid tea py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>{% trans "Our Tea Collection" %}</h1>
                </div>
                <div class="col-lg-8 text-end">
                    <ul class="nav nav-pills d-inline-flex text-center mb-5">
                        <li class="nav-item">
                            <a href="{% url 'store:shop' %}" class="d-flex m-2 py-2 bg-light rounded-pill active" >
                                <span class="text-dark" style="width: 130px;">{% trans "All Products" %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex py-2 m-2 bg-light rounded-pill" href="#">
                                <span class="text-dark" style="width: 130px;">{% trans "Tea" %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" href="#">
                                <span class="text-dark" style="width: 130px;">{% trans "Teaware" %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" href="#">
                                <span class="text-dark" style="width: 130px;">{% trans "Gifts" %}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex m-2 py-2 bg-light rounded-pill" href="#">
                                <span class="text-dark" style="width: 130px;">{% trans "Cookies" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">

                                {% for product in products %}
                                    <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div class="rounded position-relative tea-item">
                                            <a href="{% url 'store:product_page' product.slug %}" class="tea-link">
                                                <div class="tea-img">
                                                    <img src="{{ product.image.crop.261x183 }}" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ product.category.name }}</div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4 class="text-truncate">{{ product.name }}</h4>
                                                    <form action="{% url 'order:add_to_cart' product.id %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                                            <p class="text-dark fs-5 fw-bold mb-0">{{ product.price }}</p>
                                                            <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                                <i class="fa fa-shopping-bag me-2 text-primary"></i>{% trans "Add to cart" %}
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

<!-- Features Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-secondary rounded border border-secondary">
                        <img src="{% static 'img/holiday_offers.jpeg' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-primary text-center p-4 rounded">
                                <h5 class="text-white">{% trans "Holiday Offers" %}</h5>
                                <h3 class="mb-0">{% trans "All for $5!" %}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-dark rounded border border-dark">
                        <img src="{% static 'img/fruit_flavors.jpeg' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-light text-center p-4 rounded">
                                <h5 class="text-primary">{% trans "Rich Taste" %}</h5>
                                <h3 class="mb-0">{% trans "Fruit Flavors" %}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#">
                    <div class="service-item bg-primary rounded border border-primary">
                        <img src="{% static 'img/healthy_ingredients.jpeg' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="px-4 rounded-bottom">
                            <div class="service-content bg-secondary text-center p-4 rounded">
                                <h5 class="text-white">{% trans "Healthy" %}</h5>
                                <h3 class="mb-0">{% trans "Ingredients" %}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->

<!-- Banner Section Start-->
<div class="container-fluid banner bg-secondary my-5">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-6">
                <div class="py-4">
                    <h1 class="display-3 text-white">{% trans "Different Flavors" %}</h1>
                    <p class="fw-normal display-3 text-dark mb-4">{% trans "in Our Store" %}</p>
                    <p class="mb-4 text-dark">{% trans "Our teas blend premium leaves with natural ingredients to offer unique flavors in every cup." %}</p>
                    <a href="{% url 'store:shop' %}" class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">{% trans "BUY" %}</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="{% static 'img/flavors_banner.png' %}" class="img-fluid w-100 rounded" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->

<!-- Bestseller Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">{% trans "Most Beloved Teas" %}</h1>
            <p>{% trans "Browse our top-rated teas, handpicked with perfect 5-star ratings from tea lovers." %}</p>
        </div>
        <div class="row g-4">
            {% for top_rated_product in products_with_highest_rating %}
                <div class="col-lg-6 col-xl-4 d-flex">
                    <div class="p-4 rounded bg-light flex-grow-1 d-flex flex-column">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <a href="{% url 'store:product_page' top_rated_product.slug %}" class="tea-link">
                                    <img src="{{ top_rated_product.image.crop.142x142 }}" class="img-fluid rounded-circle w-100" alt="">
                                </a>
                            </div>
                            <form action="{% url 'order:add_to_cart' top_rated_product.id %}" method="post">
                                {% csrf_token %}
                                <div class="col-6 d-flex flex-column">
                                    <a href="{% url 'store:product_page' top_rated_product.slug %}" class="h5 tea-link">{{ top_rated_product.name }}</a>
                                    <div class="d-flex my-3">
                                        {% for i in '12345' %}
                                            {% if forloop.counter <= top_rated_product.rating %}
                                                <i class="fa fa-star text-secondary"></i>
                                            {% else %}
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <h4 class="mb-3">${{ top_rated_product.price }}</h4>
                                    <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i>{% trans "Add to cart" %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Bestseller Product End -->

<!-- Fact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>{% trans "satisfied customers" %}</h4>
                        <h1>1963</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>{% trans "quality of service" %}</h4>
                        <h1>99%</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>{% trans "quality certificates" %}</h4>
                        <h1>33</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>{% trans "Available Products" %}</h4>
                        <h1>789</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->


<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">{% trans "Our Testimonial" %}</h4>
            <h1 class="display-5 mb-5 text-dark">{% trans "Our Client Saying!" %}</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">{% trans "This tea is as sweet as a pot of honey! I think I’ll have just one more cup!" %}
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="{% static 'img/winnie_the_pooh.jpg' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">{% trans "Winnie the Pooh" %}</h4>
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">{% trans "I may be a dog, but this tea is so good, I’d give up chasing the Red Baron for a cozy tea break." %}
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="{% static 'img/snoopy.jpg' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">{% trans "Snoopy" %}</h4>
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item img-border-radius bg-light rounded p-4">
                <div class="position-relative">
                    <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0;"></i>
                    <div class="mb-4 pb-4 border-bottom border-secondary">
                        <p class="mb-0">{% trans "This tea makes me feel all bubbly inside! If I had thumbs, I’d give it two thumbs up!" %}
                        </p>
                    </div>
                    <div class="d-flex align-items-center flex-nowrap">
                        <div class="bg-secondary rounded">
                            <img src="{% static 'img/mrs.potts_and_chip.jpg' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">{% trans "Mrs. Potts and Chip" %}</h4>
                            <div class="d-flex pe-5">
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                                <i class="fas fa-star text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}