{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Shop {{ current_category|default:'All' }}</title>
{% endblock %}


{% block content %}
{% include 'partials/single-page-header.html' with page_title="Shop" category=current_category_instance %}
<div class="container-fluid tea py-5">
    <div class="container py-5">
        <h1 class="mb-4">Our Tea Collection</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        {% include 'partials/search.html' with extra_classes="w-100" %}
                    </div>
                    <div class="col-6"></div>

                    <div class="col-xl-3">
                        <form method="get">
                            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4 w-100">
                                <select id="sorting" name="ordering" class="border-0 form-select-sm bg-light me-3">
                                    <option value="name" {% if current_ordering == 'name' %}selected{% endif %}>Name</option>
                                    <option value="rating" {% if current_ordering == 'rating' %}selected{% endif %}>Rating</option>
                                    <option value="low_high" {% if current_ordering == 'low_high' %}selected{% endif %}>Price ↑</option>
                                    <option value="high_low" {% if current_ordering == 'high_low' %}selected{% endif %}>Price ↓</option>
                                    <option value="date" {% if current_ordering == 'date' %}selected{% endif %}>Date Added</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Sort</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    {% include 'partials/categories.html' %}
                                </div>
                            </div>

                            <form method="get">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4 class="mb-2">Price</h4>
                                        <input name="price_range" type="range" class="form-range w-100" id="rangeInput"
                                               min="0" max="500"
                                               value="{{ current_price_upper_limit }}"
                                               oninput="amount.value=rangeInput.value">
                                        <output id="amount" name="price_output" min-value="0" max-value="500" for="price_range">
                                            {{ current_price_upper_limit }}
                                        </output>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Tags</h4>
                                        {% for tag in tags %}
                                            <div class="mb-2">
                                                <input type="radio" class="me-2" id="tag_{{ tag.id }}"
                                                       name="tag_selected" value="{{ tag.name }}"
                                                       {% if current_tag == tag.name %}checked{% endif %}>
                                                <label for="tag_{{ tag.id }}"> {{ tag.name }}</label>
                                            </div>
                                        {% endfor %}
                                        <div class="d-flex justify-content-center my-4">
                                            <button type="submit" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="col-lg-12">
                                <h4 class="mb-3">Holiday Products</h4>
                                {% include 'partials/holiday-products.html' %}
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="{% static 'img/tea_banner.jpg' %}" class="img-fluid w-100 rounded" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            {% for tea in tea_list %}
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <a href="{% url 'store:product_page' tea.slug %}" class="tea-link">
                                        <div class="rounded position-relative tea-item">
                                            <div class="tea-img">
                                                <img src="{{ tea.image.crop.261x183 }}" class="img-fluid w-100 rounded-top" height="183" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ tea.category.name }}</div>
                                            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                <h4 class="text-truncate">{{ tea.name }}</h4>
                                                <form action="{% url 'order:add_to_cart' tea.id %}" method="post">
                                                    {% csrf_token %}
                                                    {% if messages %}
                                                        <ul class="messages">
                                                            {% for message in messages %}
                                                                <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                                                    {{ message }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                    <div class="d-flex justify-content-between flex-lg-wrap mt-auto">
                                                        <p class="text-dark fs-5 fw-bold mb-0">${{ tea.price }}</p>
                                                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    {% if page_obj.has_previous %}
                                        <a href="?page={{ page_obj.previous_page_number }}" class="rounded">&laquo;</a>
                                    {% endif %}

                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <a href="?page={{ num }}" class="active rounded">{{ num }}</a>
                                        {% else %}
                                            <a href="?page={{ num }}" class="rounded">{{ num }}</a>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}" class="rounded">&raquo;</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}