{% extends 'shop-base.html' %}
{% load static %}

{% block title %}
    <title>Shop</title>
{% endblock %}

{% block div %}
    {% for product in products %}
        <div class="col-md-6 col-lg-6 col-xl-4">
            <a href="{% url 'store:product_page' product.slug %}" class="tea-link">
                <div class="rounded position-relative tea-item">
                    <div class="tea-img">
                        <img src="{{ product.image.crop.261x183 }}" class="img-fluid w-100 rounded-top" height="183" alt="">
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ product.category.name }}</div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                        <h4 class="text-truncate">{{ product.name }}</h4>
                        <div class="d-flex justify-content-between flex-lg-wrap mt-auto">
                            <p class="text-dark fs-5 fw-bold mb-0">${{ product.price }}</p>
                            <form action="{% url 'order:add_to_cart' product.id %}" method="POST">
                                {% csrf_token %}
                                <a href="{% url 'order:add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </form>
                        </div>
                    </div>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
