{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ category.name }}</title>
{% endblock %}

{% block content %}
        {% include 'partials/single-page-header.html' with page_title="Shop" %}

        <!-- Tea Shop Start-->
        <div class="container-fluid tea py-5">
            <div class="container py-5">
                <h1 class="mb-4">Our Tea Collection</h1>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-xl-3">
                                {% include 'partials/search.html' with extra_classes="w-100" %}
                            </div>
                            <div class="col-6"></div>
                        
                            <div class="col-xl-3">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4 w-100">
                                        <select id="sorting" name="sorting" class="border-0 form-select-sm bg-light me-3">
                                            <option value="name" {% if request.session.filter_sorting == 'name' %}selected{% endif %}>Name</option>
                                            <option value="rating" {% if request.session.filter_sorting == 'rating' %}selected{% endif %}>Rating</option>
                                            <option value="low_high" {% if request.session.filter_sorting == 'low_high' %}selected{% endif %}>Price ↑</option>
                                            <option value="high_low" {% if request.session.filter_sorting == 'high_low' %}selected{% endif %}>Price ↓</option>
                                            <option value="date" {% if request.session.filter_sorting == 'date' %}selected{% endif %}>Date Added</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary">Sort</button>
                                    </div>
                                </form>
                            </div>
                        
                        </div>
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            {% include 'partials/categories.html' %}
                                        </div>
                                    </div>
                                    
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <h4 class="mb-2">Price</h4>
                                                <input name="price_range" type="range" class="form-range w-100" id="rangeInput" 
                                                       min="0" max="500" 
                                                       value="{{ request.session.filter_price_range|default:'0' }}" 
                                                       oninput="amount.value=rangeInput.value">
                                                <output id="amount" name="price_output" min-value="0" max-value="500" for="price_range">
                                                    {{ request.session.filter_price_range|default:'0' }}
                                                </output>
                                            </div>
                                        </div>
                                    
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <h4>Tags</h4>
                                                {% for tag in tags %}
                                                    <div class="mb-2">
                                                        <input type="radio" class="me-2" id="tag_{{ tag.id }}" 
                                                               name="tag_selected" value="{{ tag.name }}"
                                                               {% if request.session.filter_tag_selected == tag.name %}checked{% endif %}>
                                                        <label for="tag_{{ tag.id }}"> {{ tag.name }}</label>
                                                    </div>
                                                {% endfor %}
                                                <div class="d-flex justify-content-center my-4">
                                                    <button type="submit" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Filter</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                
                                    <form method="post" action="." class="mt-3">
                                        {% csrf_token %}
                                        <button type="submit" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Clear Filter</button>
                                    </form>

                                    <div class="col-lg-12">
                                        <h4 class="mb-3">Holiday Products</h4>
                                        {% include 'partials/holiday-products.html' %}
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative">
                                            <img src="{% static 'img/tea_banner.jpg' %}" class="img-fluid w-100 rounded" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-9">
                                <div class="row g-4 justify-content-center">
                                    {% block div %}

                                    {% endblock %}
                        
                                    <!-- Pagination controls -->
                                    <div class="col-12">
                                        <div class="pagination d-flex justify-content-center mt-5">
                                            {% if products.has_previous %}
                                                <a href="?page={{ products.previous_page_number }}" class="rounded">&laquo;</a>
                                            {% endif %}
                        
                                            {% for num in products.paginator.page_range %}
                                                {% if products.number == num %}
                                                    <a href="?page={{ num }}" class="active rounded">{{ num }}</a>
                                                {% else %}
                                                    <a href="?page={{ num }}" class="rounded">{{ num }}</a>
                                                {% endif %}
                                            {% endfor %}
                        
                                            {% if products.has_next %}
                                                <a href="?page={{ products.next_page_number }}" class="rounded">&raquo;</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Fruits Shop End-->
{% endblock %}