{% load static %}

<div class="owl-carousel vegetable-carousel justify-content-center">
    {% for product in related_products %}
        <div class="border border-primary rounded position-relative related-product-item">
            <div class="related-product-img">
                <a href="{% url 'store:product_page' product.slug %}" class="tea-link">
                    <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt="">
                </a>
            </div>
            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
                {{ product.category.name }}</div>
            <div class="p-4 pb-0 rounded-bottom">
                <a href="{% url 'store:product_page' product.slug %}" class="tea-link">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.description }}</p>
                </a>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold">${{ product.price }}</p>
                    <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
